<!-- templates/index.html -->
{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}
  <!-- Page content -->
  <div class="container-fluid">
    {% if game %}
      {% include "active_game.html" %}
    {% else %}
      Hi {{ user.username }}! You aren't playing a game right now. Would you like to create one?
      {% load crispy_forms_tags %}
      {% crispy create_game_form create_game_form.helper %}
    {% endif %}
  </div>
  <!-- /#page-content-wrapper -->
{% else %}
  <p>You are not logged in</p>
  <a class="btn btn-primary" href="{% url 'game:login' %}">Log In</a>
  <a class="btn btn-info" href="{% url 'register' %}">Sign up</a>
{% endif %}
{% endblock %}