<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Banana Grams</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li id="navbarCurrentGame" class="nav-item">
        <a class="nav-link" href="#">Current Game</a>
      </li>
      <li id="navbarHistory" class="nav-item">
        <a class="nav-link" href="#">History</a>
      </li>
      <li id="navbarFriends" class="nav-item">
        <a class="nav-link" href="#">Spectate</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Account
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Profile</a>
          <a class="dropdown-item" href="#">Friends</a>
        </div>
      </li>
    </ul>

    <form class="form-inline my-2 my-lg-0">
      <input id="newGameName" class="form-control mr-sm-2" type="text" placeholder="A bananagrams game" aria-label="Create a new game">
      <button id="createGameBtn" class="btn btn-outline-success my-2 my-sm-0" type="submit">Create Game</button>
    </form>
  </div>

  <a class="btn btn-danger ml-auto" href="{% url 'logout' %}" onclick="confirm('Are you sure you want to stop playing?');">Log Out</a>
</nav>